
.homeJumbo {
    background-image: url(../images/sammyHeader.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

a {
    color: cornflowerblue;
}


.navbar-brand {
    font-size: 1em;
}


.topicBlock em {
    color: #A5DAB2;
    font-weight: bold;
}


body {
    padding-top: 50PX;
    font-family: 'Volkhov', serif;
}

#navbarDropdown {
    color: #A5DAB2;
}

.navBar {
    background-color: #41506B;
}


.icons {
    width: 75px;
    height: 75px;
    padding-bottom: 10px;
    display:table;
    margin:0 auto;
}

.box {
    padding-bottom: 25px
}

.mainNavButtons {
    display:table;
    margin:0 auto;
    background-color: transparent; 
    color: #41506B;
    border: none;
    font-size: 1em;
}

#fontCredit {
    font-size: 9px;
}

/*CRITTER PAGE*/

.listHeader {
    font-weight: bold;
}

#petName {
    font-weight: bold;
    color: salmon;
}

/*CONTACT PAGE*/
.contactCard {
    margin-bottom: 15px;
    margin-top: 20px;
    height: 300px;

}

.contactCardName {
    margin-bottom: 15px;
    margin-top: 20px;
    height: 150px;

}

.contactCard .card-title, .contactCardName .card-title {
    font-weight: 700;
    text-align: center;
}


.contactCard .contact-name, .contactCardName .contact-name {
    text-align: center;
    color: #41506B;
    font-weight: 700;
}


