
.homeJumbo {
/*    background-image: url(../images/sammyHeader2.jpg);*/
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

h5 {
    font-weight: 700;
}

a {
    color: cornflowerblue;
}


.navbar-brand {
    font-size: 1em;
}





body {
    padding-top: 50PX;
    font-family: 'Volkhov', serif;
}

#navbarDropdown {
    color: #A5DAB2;
}

.navBar {
    background-color: #41506B;
}


.icons {
    width: 75px;
    height: 75px;
    padding-bottom: 10px;
    display:table;
    margin:0 auto;
}

.box {
    padding-bottom: 25px
}

.mainNavButtons {
    display:table;
    margin:0 auto;
    background-color: transparent; 
    color: #41506B;
    border: none;
    font-size: 1em;
}



/*CRITTER PAGE*/

.nav-pills {
    padding-bottom: 3%;
}

.tab-content h3 {
    font-size: 1.25em;
}

.listHeader {
    font-weight: bold;
}

.card-body em {
    color: #A5DAB2;
    font-weight: bold;
}

.petName {
    font-weight: bold;
    color: salmon;
}

.card-header .btn {
    color: white;
}

.card-header {
    background: #41506B;
}

.warning {
    color: red;
}

/*CONTACT PAGE*/
.contactCard {
    margin-bottom: 15px;
    margin-top: 20px;
    height: 300px;
}

.personalPhone{
    text-align: center;
}

.contactCardName {
    margin-bottom: 15px;
    margin-top: 20px;
    height: 150px;

}

.contactCard .card-title, .contactCardName .card-title {
    font-weight: 700;
    text-align: center;
}


.contactCard .contact-name, .contactCardName .contact-name {
    text-align: center;
    color: #41506B;
    font-weight: 700;
}

/*footer*/
#fontCredit {
    margin-top: 20px;
    font-size: 9px;
}




